.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 5s linear;
  height: 80px;
}

.App-header {
  background-color: #2196f3;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
  height: 150px;
  padding: 20px;
  color: white;
  border-bottom: 3px solid #bbdefb;
}

.App-body {
	margin: 200px 250px 20px 250px;
	text-align: left;
}

.Loading {
  margin-top: 250px;
  margin-left: auto;
  margin-right: auto;
}

.Result {
  text-align: left;
  margin-top: 250px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
